th, td {
    padding: 5px;
}

th {
    background-color: #ddd;
}

button {
    width: 200px;
    padding: 5px;
    background-color: #ddd;
    border: 2px #666 solid;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #bbb;
}