body {
    margin: 0;
}

* {
    font-family: sans-serif;
    font-weight: bold;
    color: #444;
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    background-color: white;
    border-bottom: 1px #ddd solid;
}

#logo {
    height: 40px;
    position: absolute;
    left: 0;
    margin: 5px;
    cursor: pointer;
}

.center {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

header input, header select {
    display: block;
    height: 40px;
    margin-top: 5px;
    float: left;
    background-color: #ddd;
    border: 0;
    outline: none;
}

header input:hover, header select:hover {
    background-color: #ccc;
    border: 0;
}

#query {
    width: 680px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#type {
    width: 100px;
    cursor: pointer;
}

#search {
    width: 70px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

#settings {
    width: 860px;
    height: 30px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
}

#settings label {
    display: block;
    float: left;
    height: 30px;
    margin-left: 5px;
    margin-right: 15px;
    line-height: 30px;
}

#container {
    width: 860px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.tile {
    width: 420px;
    height: 460px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    background-color: #ddd;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.tile:hover {
    background-color: #ccc;
}

.image {
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
}

.tile:hover .image {
    filter: brightness(0.8);
}

#showMore {
    width: 850px;
    height: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    background-color: white;
    border: 1px #ddd solid;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

#showMore:hover {
    background-color: #eee;
    border-color: #eee;
}

#zoom {
    width: 100%;
    position: fixed;
    top: 50px;
    bottom: 0px;
    background-color: #000d;
}

#zoomImg {
    display: block;
    height: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
    cursor: zoom-in;
}

#zoomButtons {
    width: 150px;
    height: 50px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.zoomButton {
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    background-color: #111;
    border-radius: 5px;
    float: left;
    cursor: pointer;
}

.zoomButton:hover {
    background-color: #000;
}

.zoomButton img {
    width: 30px;
    height: 30px;
}

.zoomButton:hover img {
    filter: brightness(0.8);
}

@media only screen and (max-width: 1400px) {
    #logo {
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    header input, header select {
        margin-top: 55px;
    }

    #settings {
        margin-top: 105px;
    }

    header {
        height: 100px;
    }
}

@media only screen and (max-width: 900px) {
    #query {
        width: 250px;
    }

    #container, #settings {
        width: 430px;
    }

    #showMore {
        width: 420px;
    }
}